
.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(142, 241, 241);
}
ul {
  display: flex;
  gap: 30px;
}

li {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
}
